<nb-alert *ngIf="success" outline="success">
    <h5>Hooray</h5>
    Your password has been successfuly created!
</nb-alert>

<nb-alert *ngIf="error" outline="success">
    <h5>Oh snap!</h5>
    Something went wrong, please try again.
</nb-alert>

<h1 class="title">Set your password</h1>
<p class="sub-title">Please set a password for your account</p>
<form [formGroup]="resetPasswForm" (ngSubmit)="onResetPassword()">
    <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input
            id="input-password"
            name="password"
            nbInput
            type="password"
            class="first input-full-width size-large shape-rectangle nb-transition ng-touched status-success ng-dirty ng-valid"
            placeholder="Password"
            formControlName="password">
    </div>
    <div class="form-control-group">
        <label class="label" for="input-re-password">Confirm your Pasword</label>
        <input
            id="input-re-password"
            name="rePass"
            nbInput
            type="password"
            class="first input-full-width size-large shape-rectangle nb-transition ng-touched status-success ng-dirty ng-valid"
            placeholder="Confirm password"
            formControlName="confirmPassword">
    </div>
    <button
        nbButton
        class="w-full"
        status="primary"
        size="large"
        type="submit"
        [disabled]="!inputValsMatch || !resetPasswForm.valid">
        Reset password
    </button>
</form>
