.card {
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.25rem;
    }
}

.user-actions {
    margin-bottom: var(--card-margin-bottom);
    display: flex;
    justify-content: space-between;
}
