<nb-layout>
    <nb-layout-header>
        <div class="nav-header">
            <nb-user size="large"
                *ngIf="user"
                [name]="user.name"
                [title]="user.role"
                badgeStatus="success"
                badgePosition="bottom right">
            </nb-user>
        </div>
    </nb-layout-header>

    <nb-sidebar state="compacted">
        <nb-menu [items]="items" [autoCollapse]="true">
        </nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>