.new-user {
    border: 1px dashed #CCC;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: #d3e0eb;
    margin-bottom: 4px;

    &-input {
        border: 1px solid #CCC;
        background-color: white;
        border-radius: 4px;
        padding: 6px;
        width: 100%;
        &.ng-invalid {
            border-color: red;
        }
        &.ng-pristine {
            border: 1px solid #CCC;
        }
    }
}