<nb-layout>
    <nb-layout-header>
        <div class="flex justify-between items-center w-full">
            <div class="text-3xl font-black brand flex items-center gap-1">
                <nb-icon icon="cube-outline"></nb-icon>
                carvision
            </div>
            <div class="nav-header flex justify-end items-center gap-4 w-full">
                <nb-user size="large"
                    *ngIf="user"
                    [name]="user.name"
                    [title]="user.role"
                    badgeStatus="success"
                    badgePosition="bottom right">
                </nb-user>
            </div>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>