<div class="flex justify-center mb-6 gap-4">
    <nb-form-field>
        <nb-icon nbPrefix icon="calendar-outline"></nb-icon>
        <input
            nbInput
            placeholder="Pick Date Range"
            [nbDatepicker]="formpicker">
        <nb-rangepicker
            #formpicker
            (rangeChange)="onDateRangeSelected($event)">
        </nb-rangepicker>
    </nb-form-field>
</div>

<div *ngIf="reports; else noResults">
    <nb-card>
        <nb-card-body>
            <ng-container *ngIf="totalReviews === 0; else reviews">
                <p>There are no reviews during this period</p>
            </ng-container>
            <ng-template #reviews>
                <div class="flex gap-4 justify-evenly">
                    <div class="flex flex-col gap-3 justify-center">
                        <span class="text-3xl text-center font-bold text-purple-700">{{ totalReviews }}</span>
                        <span class="uppercase font-bold text-center text-neutral-500">Reviews</span>
                    </div>
                    <div class="flex flex-col gap-3 justify-center text-purple-700">
                        <span class="text-3xl text-center font-bold">{{ paid | currency }}</span>
                        <span class="uppercase font-bold text-center text-neutral-500">Paid</span>
                    </div>
                </div>
            </ng-template>
        </nb-card-body>
    </nb-card>

    <ng-container *ngIf="totalReviews > 0">
        <nb-card>
            <nb-card-body>
                <h4 class="mb-4 text-purple-700 text-center uppercase">
                    Reviews
                </h4>
                <div *ngFor="let report of reports; let i = index"
                    class="flex flex-col gap-4 py-4 border-t border-t-indigo-200 ">
                    <div class="flex justify-between items-center">
                        <span class="text-xl font-bold text-indigo-800 flex items-center">
                            <nb-icon icon="person" class="mr-1"></nb-icon>
                            {{ report.client }}
                        </span>
                        <div class="text-neutral-600 text-sm flex gap-1 items-center" *ngIf="report.platform">
                            <nb-icon icon="tv-outline"></nb-icon>
                            <strong>{{ report.platform }}</strong>
                        </div>
                    </div>
                    <div class="flex items-end justify-center xl:justify-start">
                        <div class="flex flex-col items-center gap-1 border-r-2 border-r-indigo-200 px-5">
                            <strong>{{ report.paid | currency }}</strong>
                            <span class="uppercase text-neutral-500">Paid</span> 
                        </div>
                        <div class="flex flex-col items-center gap-1 border-r-2 border-r-indigo-200 px-5">
                            <strong>{{ report.rating }}</strong>
                            <span class="uppercase text-neutral-500">Rating</span> 
                        </div>
                        <div class="flex flex-col items-center gap-1 px-5">
                            <nb-icon
                                [class]="report.positive ? 'text-emerald-600' : 'text-red-500'"
                                [icon]="report.positive ? 'checkmark-circle-2-outline' : 'close-circle-outline'">
                            </nb-icon>
                            <span class="uppercase text-neutral-500">Positive</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </ng-container>
</div>

<ng-template #noResults>
    <nb-card>
        <nb-card-body>
            <div class="flex flex-col gap-4 text-center">
                <img src="assets/images/calendar_placeholder.png" alt="" class="max-h-56 object-contain">
                <p class="font-bold text-purple-800 text-lg">Please select a date range</p>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>