.icon-reviews {
    margin-top: -56px;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 400px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}